---
import Layout from "@layouts/Layout.astro";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <!-- <Header /> -->
  <main id="main-content" class="flex flex-col">
    <section id="hero" class="flex h-screen w-full flex-col justify-center">
      <p class="text-skin-accent">Hi, my name is</p>
      <h1 class="mb-3 mt-4 font-sans">Suchi Pragya.</h1>
      <h1 class="text-skin-muted mb-6 font-sans">I maintain websites.</h1>
      <p class="text-skin-muted max-w-3xl font-sans text-lg font-normal">
        I am a software engineer specializing in site reliability engineering
        (SRE) at <a
          href="https://www.wipro.com/"
          target="_blank"
          class="text-skin-accent">Wipro</a
        >. Currently I'm focused on providing technical services to Whirlpool
        Corporation. My role focuses on ensuring the seamless performance of
        their website and optimizing its reliability.
      </p>
      {
        socialCount > 0 && (
          <div
            class="
        social-wrapper"
          >
            <div class="social-links" />
            <Socials />
          </div>
        )
      }
    </section>
  </main>
</Layout>

<!-- <Footer /> -->

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply text-3xl font-bold sm:text-6xl;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
